Podcast/podcast_generator_workflow.json
{
  "name": "Podcast Generator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -240,
        -16
      ],
      "id": "b61674ed-766a-40e7-9aac-c6f487d5928c",
      "name": "When chat message received",
      "webhookId": "61101f3b-c610-465f-937f-1e1ed38b087b"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional podcast script writer.  Write a conversational and engaging podcast script on the topic: {{ $json.chatInput }}.  Keep it around 2 minutes when spoken.  Use a friendly and informative tone, as if talking directly to listeners.  Avoid any headings, labels, or formatting. Output plain "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -32,
        -16
      ],
      "id": "23ab83b7-2199-42c4-879a-196b4c613572",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        176
      ],
      "id": "48ff2cae-440e-4e73-804d-e4c09aa7737a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xeRMfj70nNnQO4sz",
          "name": "Google Gemini(PaLM) Api account 5201"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.murf.ai/v1/speech/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "ap2_b0a9ef95-dc00-474e-9709-19edd3270695"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "voiceId",
              "value": "Terrell"
            },
            {
              "name": "locale",
              "value": "en-US"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        32
      ],
      "id": "fe232914-284c-410b-ac1c-6bcc833d4412",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.audioFile }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        32
      ],
      "id": "afbb4f8d-d999-40d1-a966-d5c1f8f59458",
      "name": "Podcast_Dowloader"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Podcast_Dowloader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4dc15d06-736b-45b6-acf3-c4723ec5d9c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "sqCdCAO9bCIbWQ0B",
  "tags": []
}
